*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    counter-reset: section;
}

h2 {
    counter-reset: subsection;
}

:root {
    --main-bg-color: brown;
}

.container {
    position: relative;
    width: 400px;
    height: auto;
    border: 3px solid #73AD21;
    padding: 5px;
}

h2::before {
    counter-increment: section;
    content: " " counter(section) ". ";
}

p::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}